{% block content %}
<section class="py-5 border-top-1">
    <div class="container">
        <div class="row justify-content-sm-center">
            <div class="row">
                <div class="text-center mb-3" style="color: white;">
                    <h2> Movies playing this week!</h2>
                </div>
                <div class="owl-carousel owl-theme">
                {% for movie in movies %}
                    <div class="item">
                        <a href="{% url 'movie_details' pk=movie.pk %}">
                            <div class="card">
                                <div class="img-container align-self-center">
                                    <img src="{{ movie.poster }}" class="img-fluid" alt="">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ movie.name }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
                <div class="text-center mb-3" style="color: white;">
                    <h2> Movies playing next week!</h2>
                </div>
                <div class="owl-carousel owl-theme">
                {% for movie in playing_movies_next_week %}
                    <div class="item">
                        <a href="{% url 'movie_details' pk=movie.pk %}">
                            <div class="card">
                                <div class="img-container align-self-center">
                                    <img src="{{ movie.poster }}" class="img-fluid" alt="">
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title">{{ movie.name }}</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}