{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="py-5 border-top-1">
    <div class="container">
        <form action="" method="POST">
            <div class="row justify-content-sm-center">
                    {% csrf_token %}
                <div class="plane">
                    <div class="cockpit">
                        <h1 style="color: #fff">Please select your seats</h1>
                    </div>
                    <div class="exit exit--front fuselage"></div>
                    <ol class="cabin fuselage">
                        <div class="row" style="padding:5px;">
                           {% for seat in seats %}
                                <li class="col-sm-2">
                                    <label style="color: white" for={{seat}}>{{seat}}</label>
                                    <input type="checkbox" id="{{seat}}" name="seats" value="{{seat.pk}}" id="{{seat}}"/>
                                </li>
                            {%endfor%}
                        </div>
                    </ol>
                </div>
            </div>
            <div class="col-md-12 text-center">
            <button class="btn btn-primary rounded-pill">Select seat</button>
            </div>
        </form>
         {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger alert-dismissable text-center">
                <button type="button">
                    <i class="fa fa-exclamation-circle"></i>
                </button>
                {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}
    </div>
</section>


{% endblock %}