{% extends 'base.html' %}
{% load static %}
 <link rel="stylesheet" href="{% static 'css/seats.css' %}">
{% block content %}
<div class="plane">
  <div class="cockpit">
    <h1>Screen</h1>
  </div>
  <div class="exit exit--front fuselage"/>
  </div>
  <ol class="cabin fuselage">
    <form method="POST">
    {% csrf_token %}
        <li class="row row">
            <ol class="seats" >
                {% for seat in seats %}
                        <p class="seat">
                            <input type="checkbox" id="{{seat}}" name="seats" value="{{seat.pk}}" id="{{seat}}"/>
                            <label for={{seat}}>{{seat}}</label>
                        </p>
                {%endfor%}
            </ol>
        </li>

    <div class="exit exit--back fuselage">
    </div>
</div>
<div class="col-md-12 text-center">
    <button class="btn btn-primary rounded-pill">Select seat</button>
</div>
<br>
</form>
    {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-danger alert-dismissable text-center">
                <button type="button">
                    <i class="fa fa-exclamation-circle"></i>
                </button>
                {{msg.message}}
            </div>
        {% endfor %}
    {% endif %}
{%endblock %}
