{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{%for cinema in cinemas%}
<form action="" method="POST">
    {%csrf_token%} {{form.as_p}}
        <div class="card-body">
            <div class="clearfix mb-3">
                <span class="float-start badge rounded-pill bg-primary">{{cinema.name}}</span>
                <span class="float-end">{{cinema.city}}</span>
            </div>
            <div class="text-center my-4">
                <a href="{% url 'select_movie' cinema_pk=cinema.pk %}" class="btn btn-primary rounded-pill">Select cinema</a>
            </div>
        </div>
    </form>
    {%endfor%}
{% endblock %}