{% extends 'base.html' %}
{% load static %}
{% block content %}
        <section class="py-5 border-top-1">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-12 align-item-center" style="display: flex;
    justify-content: space-evenly;">
                    {% for movie in movies %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="card" style="background-color: black;">
                                    <br>
                                    <a href="{% url 'movie_details' pk=movie.pk %}">
                                        <img src="{{ movie.poster }}" class="img-fluid" alt="">
                                    </a>
                                <div class="card-body">
                                    <input type="hidden" id="movie_pk" name="movie_pk" value={{movie.pk}}>
                                    <p class="card-title" style="font-size: 12px">{{ movie.name }}</p>
                                    <button class="btn btn-primary rounded-pill">Select movie</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% endfor %}
                </div>
            </div>
            </div>
    </section>


{% endblock %}